'.text.xml':
	'WeUI Panel组件':
		'prefix': 'weui-panel-media'
		'body': """
			<view class="weui-panel">
			  <view class="weui-panel__hd">${1:panel标题}</view>
			  <view class="weui-panel__bd">
					$2
			  </view>
			  <view class="weui-panel__ft">
			    <view class="weui-cell weui-cell_access weui-cell_link">
			      <view class="weui-cell__bd">查看更多</view>
			      <view class="weui-cell__ft weui-cell__ft_in-access"></view>
			    </view>
			  </view>
			</view>
		"""
		'description': 'weui-media-box.less'
		'descriptionMoreURL': 'http://dwz.cn/7kjtWJ'
	'大图文组合列表':
	  'prefix': 'weui-media-box_appmsg'
	  'body': """
	    <navigator url="$1" class="weui-media-box weui-media-box_appmsg" hover-class="weui-cell_active">
				<view class="weui-media-box__hd_in-appmsg">
					<image class="weui-media-box__thumb" src="http://cdn.wakeuptocode.me/poetry/libai.jpg" />
				</view>
				<view class="weui-media-box__bd_in-appmsg">
					<view class="weui-media-box__title">《静夜思》- 李白</view>
					<view class="weui-media-box__desc">床前明月光，疑是地上光。举头望明月，低头思故乡。</view>
				</view>
			</navigator>
	  """
	  'description': 'WeUI->Panel'
	  'descriptionMoreURL': 'https://github.com/Tencent/weui/wiki/Panel'
	'文字组合列表':
	  'prefix': 'weui-media-box_text'
	  'body': """
	    <view class="weui-media-box weui-media-box_text">
	      <view class="weui-media-box__title weui-media-box__title_in-text">${1:标题}</view>
	      <view class="weui-media-box__desc">${2:描述}</view>
	    </view>
	  """
	  'description': 'Weui Panel'
	  'descriptionMoreURL': 'https://github.com/Tencent/weui/wiki/Panel'
	'小图文列表':
	  'prefix': 'weui-media-box_small-appmsg'
	  'body': """
	    <view class="weui-media-box weui-media-box_small-appmsg">
				<view class="weui-cells weui-cells_in-small-appmsg">
					<navigator url="" class="weui-cell weui-cell_access" hover-class="weui-cell_active">
						<view class="weui-cell__hd">
							<image src="{{icon20}}" style="width: 20px;height: 20px;margin-right: 5px" />
						</view>
						<view class="weui-cell__bd weui-cell_primary">
							<view>文字标题</view>
						</view>
						<view class="weui-cell__ft weui-cell__ft_in-access"></view>
					</navigator>
				</view>
			</view>
	  """
	  'description': 'WeUI Panel'
	  'descriptionMoreURL': 'https://github.com/Tencent/weui/wiki/Panel'
	'图文列表底部添加信息':
		'prefix': 'weui-media-box__info'
		'body': """
			<view class="weui-media-box__info">
				<view class="weui-media-box__info__meta">${1:文字来源}</view>
				<view class="weui-media-box__info__meta">${2:时间}</view>
				<view class="weui-media-box__info__meta weui-media-box__info__meta_extra">${3:其它信息}</view>
			</view>
		"""
