# 表单组件
'.text.xml':
	# button
	'weui-btn-area':
		'prefix': 'weui-btn-area'
		'body': """
			<view class="weui-btn-area">
				<button type="${1:default/primary/warn}" class="weui-btn" ${2:hover-class="none"} bindtap="${3:btntap}">$4</button>
			</view>
		"""
	'weui-btn':
		'prefix': 'weui-btn'
		'body': """
			<button type="${1:default/primary/warn}" class="weui-btn" ${2:hover-class="none" }bindtap="${3:btntap}">$4</button>
		"""
	# List
	'weui-cells':
	  'prefix': 'weui-cells'
	  'body': """
			<view class="weui-cells${1: weui-cells_after-title}">
				$2
			</view>
		"""
	'weui-cells__title':
    'prefix': 'weui-cells__title'
    'body': '<view class="weui-cells__title">${1:section header}</view>'
	'weui-cell_access':
	  'prefix': 'weui-cell_access'
	  'body': """
			<navigator url="/pages/$1"
				open-type="$2"
				class="weui-cell weui-cell_access"
				hover-class="weui-cell_active">
				<view class="weui-cell__bd">

				</view>
				<view class="weui-cell__ft weui-cell__ft_in-access">说明文字</view>
			</navigator>
		"""
	'weui-cell':
		'prefix': 'weui-cell'
		'body': """
			<view class="weui-cell">
				<view class="weui-cell__bd">
					$2
				</view>
			</view>
		"""
	'weui-cell_link':
		'prefix': 'weui-cell'
		'body': """
			<view class="weui-cells weui-cells_after-title">
				<view class="weui-cell weui-cell_link">
					<view class="weui-cell__bd">
						$2
					</view>
				</view>
			</view>
		"""
	'weui-cell__hd':
		'prefix': 'weui-cell__hd'
		'body': """
			<view class="weui-cell__hd">
				${1:thumbnail}
			</view>
		"""
	'weui-cell__bd':
		'prefix': 'weui-cell__bd'
		'body': """
			<view class="weui-cell__bd">
				$1
			</view>
		"""
	'weui-cell__ft':
		'prefix': 'weui-cell__ft'
		'body': """
			<view class="weui-cell__ft">
				${1:说明文字}
			</view>
		"""
	'weui-cell__ft_in-access':
		'prefix': 'weui-cell__ft_in-access'
		'body': """
			<view class="weui-cell__ft weui-cell__ft_in-access">$1</view>
		"""
	'ft_in-access':
		'prefix': 'ft_in-access'
		'body': """
			<view class="weui-cell__ft_in-access">$1</view>
		"""
	'weui-cells__tips':
    'prefix': 'weui-cells__tips'
    'body': '<view class="weui-cells__tips">${1:列表项的底部说明文字}</view>'
	# input
	'weui-lable':
		'prefix': 'weui-label'
		'body':'<view class="weui-label">${1:标签文字}</view>'
	'weui-input':
		'prefix': 'weui-cell_input'
		'body': """
			<view class="weui-cell weui-cell_input">
				<view class="weui-cell__hd">
						<view class="weui-label">${1:QQ}</view>
				</view>
				<view class="weui-cell__bd">
					<input class="weui-input" value="{{$2}}" placeholder="${3:请输入QQ}" bindinput="$4"/>
				</view>
			</view>
		"""
		'description': '基于小程序输入框组件'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/input.html'
	# textarea
	'weui-textarea':
		'prefix': 'weui-cell_textarea'
		'body': """
			<view class="weui-cell">
				<view class="weui-cell__bd">
					<textarea class="weui-textarea" placeholder="${1:请输入文本}" ${2:style="height: 3.3em"}/>
					<view class="weui-textarea-counter">0/200</view>
				</view>
			</view>
		"""
		'description': '基于小程序多行输入框组件'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/textarea.html'
	# switch
	'weui-cell_switch':
		'prefix': 'weui-cell_switch'
		'body': """
			<view class="weui-cell weui-cell_switch">
				<view class="weui-cell__bd">标题文字</view>
				<view class="weui-cell__ft">
					<switch checked bindchange="switchChange"/>
				</view>
			</view>
		"""
		'description': '基于小程序开关选择器组件'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/switch.html'
	# radio-group
	'weui单选列表项':
		'prefix': 'weui-radio-group'
		'body': """
			<radio-group bindchange="handleRadioChange">
				<label class="weui-cell weui-check__label" wx:for="{{items}}" wx:key="value">
					<radio class="weui-check" value="{{item.value}}" checked="{{item.checked}}"/>
					<view class="weui-cell__bd">{{item.name}}</view>
					<view class="weui-cell__ft weui-cell__ft_in-radio" wx:if="{{item.checked}}">
						<icon class="weui-icon-radio" type="${1:success_no_circle}" size="${2:16}"></icon>
					</view>
				</label>
			</radio-group>
		"""
		'description': '基于小程序单项选择器'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/radio.html'
	# checkbox-group
	'复选列表项（不适合购物车逻辑）':
		'prefix': 'weui-checkbox-group'
		'body': """
			<view class="weui-cells weui-cells_after-title">
				<checkbox-group bindchange="handleCheckboxChange">
					<label class="weui-cell weui-check__label" wx:for="{{items}}" wx:key="value">
						<checkbox class="weui-check" value="{{item.value}}" checked="{{item.checked}}" />
						<view class="weui-cell__hd weui-check__hd_in-checkbox">
							<icon class="weui-icon-checkbox_circle" type="circle" size="23" wx:if="{{!item.checked}}"></icon>
							<icon class="weui-icon-checkbox_success" type="success" size="23" wx:if="{{item.checked}}"></icon>
						</view>
						<view class="weui-cell__bd">{{item.name}}</view>
					</label>
				</checkbox-group>
			</view>
    """
		'description': '基于小程序多项选择器'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/checkbox.html'
	'只有一个选项的checkbox':
		'prefix': 'weui-checkbox'
		'body': """
			<checkbox-group class="weui-cells" bindchange="checkboxChange">
				<label class="weui-cell weui-check__label">
					<checkbox class="weui-check" value="1" checked="{{checked}}" />
					<view class="weui-cell__hd">设置为默认</view>
					<view class="weui-cell__bd"></view>
					<view class="weui-cell__ft">
						<view class="weui-cell__hd weui-check__hd_in-checkbox">
							<icon type="circle" size="23" wx:if="{{!checked}}"></icon>
							<icon type="success" size="23" wx:if="{{checked}}"></icon>
						</view>
					</view>
				</label>
			</checkbox-group>
		"""
		'description': '基于小程序多项选择器'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/checkbox.html'
	'WeUI选择框':
		'prefix': 'weui-cell_select'
		'body': """
		<view class="weui-cell weui-cell_select">
			<view class="weui-cell__bd">
				<picker bindchange="${1:bindAccountChange}"
					value="{{${2:accountIndex}}}"
					range="{{${3:accounts}}}">
					<view class="weui-select">{{${4:accounts[accountIndex]}}}</view>
				</picker>
			</view>
		</view>
		"""
		'description': '基于小程序普通选择器组件'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/picker.html'
	'同意并阅读':
		'prefix': 'weui-agree'
		'body': """
			<checkbox-group bindchange="${1:bindAgreeChange}">
				<label class="weui-agree" for="weuiAgree">
					<view class="weui-agree__text">
						<checkbox class="weui-agree__checkbox" id="weuiAgree" value="agree" checked="{{isAgree}}" />
						<view class="weui-agree__checkbox-icon">
							<icon class="weui-agree__checkbox-icon-check" type="success_no_circle" size="9" wx:if="{{isAgree}}"></icon>
						</view>
						阅读并同意
						<navigator url="$2" class="weui-agree__link">《相关条款》</navigator>
					</view>
				</label>
			</checkbox-group>
		"""
		'description': '基于小程序多项选择器'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/checkbox.html'
	# 顶部提示框
	'顶部提示组件':
	  'prefix': 'weui-toptips'
	  'body': """
	    <view class="weui-toptips weui-toptips_warn" wx:if="{{topTips.show}}">{{topTips.content}}</view>
	  """
