'.text.xml':
	'Snippet Name':
	  'prefix': 'weui-modal'
	  'body': """
			<view id="${1:dialogId}" style="opacity: 1;" wx:if="{{modifyDiarys}}">
			  <view class="weui-mask"></view>
			  <view class="weui-dialog weui-skin_android">
			    <view class="weui-dialog__hd">
						<strong class="weui-dialog__title">${2:dialog title}</strong>
					</view>
			    <form bindsubmit="modifyDiary">
			      <view class="weui-dialog__bd">
			        <view class="weui-cells__title">标题</view>
			        <view class="weui-cells weui-cells_after-title">
			          <view class="weui-cell weui-cell_input">
			            <view class="weui-cell__bd">
			              <input class="weui-input" name="title" value="{{nowTitle}}" placeholder="请输入标题" />
			            </view>
			          </view>
			        </view>
			        <view class="weui-cells__title">日记内容</view>
			        <view class="weui-cells weui-cells_after-title">
			          <view class="weui-cell">
			            <view class="weui-cell__bd">
			              <textarea class="weui-textarea" name="content" value="{{nowContent}}" placeholder="请输入日记内容" style="height: 3.3em" />
			              <view class="weui-textarea-counter">0/200</view>
			            </view>
			          </view>
			        </view>
			      </view>
			      <view class="weui-dialog__ft">
			        <view class="weui-dialog__btn weui-dialog__btn_default" bindtap="noneWindows">取消</view>
			        <button loading="{{loading}}" class="weui-dialog__btn weui-dialog__btn_primary" formType="submit">提交</button>
			      </view>
			    </form>
			  </view>
			</view>
		"""
	  'description': '带遮罩的弹框'
	  'descriptionMoreURL': 'https://github.com/Tencent/weui/wiki/Dialog'
